// @import "common";
//  @num:50;

.container {
  position: relative;
  min-width: 320px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
//搜索栏*********************************************
@searchHight:40px;
@icoLogoWidth:60px;
@loginWidth:50px;
.search{
  //基准是浏览器宽度
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.search .search_box{
  // font-size: 20p;
  min-width: 320px;
  max-width: 750px;
  width: 100%;
  height: @searchHight;
  background: #d8505c;
  margin: 0 auto;
  position: relative;
}
.search .search_box a{
  position: absolute;
  top: 0;
}
.search .search_box .icon_logo{
  width:@icoLogoWidth;
  height: @searchHight;
  background: black;
  left: 0;
}
.search .search_box .login{
  width: @loginWidth;
  height: @searchHight;
  right: 0;
  text-align: center;
  line-height:@searchHight;
  color: #fff;
}
.search .search_box form{
  box-sizing: border-box;
  width: 100%;
  padding-left: @icoLogoWidth;
  padding-right:@loginWidth;
}
.search .search_box form input{
  width: 100%;
  height: @searchHight - 10;
  border-radius: @searchHight / 2;
  margin-top: (@searchHight - (@searchHight - 10))/2;
  padding-left:@searchHight/1.2 ;
}
.search .search_box form .icon_search{
  width: @searchHight / 2;
  height: @searchHight / 2;
  background-color: blue;
  position: absolute;
  top: @searchHight/2 - @searchHight/4;
  left: @icoLogoWidth + @searchHight/4;
}
// *********************************************************
#mainlist {
  height: 1210px;
  background: #FFB89C;
  text-align: center;
  overflow: hidden;
}

#mainlist h2 {
  line-height: @searchHight*2;
  margin-top: @searchHight;
  color: rgb(250, 58, 58);
}

#mainlist select {
  text-align: center;
  margin-top: 1.2rem;
  font-size: 0.8rem;
  border: 1px solid #6d6314;
  background: transparent;
  width: 40%;
  cursor: pointer;
}

#mainlist select:focus option:hover {
  color: white;
  background-image: linear-gradient(#726512, #6d621e);
  font-weight: bold;
}
#box_game{
  top: 0;
  position: absolute;;
  width: 100%;
  margin: 0 auto;
  display: none;
  overflow: hidden;
}
#game {
  margin: 0 auto;
  width: 100%;
  transform-origin: 0 0;
}

#game p {
  display: none;
  width: 200px;
  height: 300px;
  color: #ff0000;
  cursor: pointer;
  font-size: 18px;
  // 抖动元素 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#game input {
  display: none;
  width: 170px;
  height: 50px;
  font-size: 30px;
}

#game canvas {
  background-color: #9eb195;
}